<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Home</title>

</head>

<body>
    <h2>Home page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus ipsum, laoreet vitae aliquet sed, porta et velit. Ut interdum tellus a rhoncus imperdiet. Nulla nec auctor turpis. Aenean nisl sem, dictum ac nulla id, egestas molestie erat. Donec
        eu elementum purus. Nulla facilisi. Fusce ornare auctor ante quis imperdiet. Mauris auctor, orci eu accumsan convallis, massa mauris commodo dui, id semper lectus enim eget urna. Nunc sit amet nisi ullamcorper, bibendum lorem ac, varius lorem.
        Curabitur varius dolor a semper convallis. Integer suscipit vitae mauris molestie vestibulum. Etiam nec magna scelerisque, efficitur sem id, laoreet arcu. Vestibulum convallis tristique dolor. Etiam et orci non ex venenatis congue tempus quis
        risus.
    </p>

</body>

</html>