<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>New Student</title>

</head>

<body>

    <h2>Add a new student</h2>

    <form action="/students" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="major">Major:</label><br>
        <input type="text" id="major" name="major"><br>
        <label for="gpa">GPA:</label><br>
        <input type="text" id="gpa" name="gpa"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>